<h1>Respond to request</h1><br />


<p>
  <b>Title:</b>
  <%= @request.title %>
</p>

<p>
  <b>Description:</b>
  <%= @request.description %>
</p>

<p>
  <b>Date:</b>
  <%= @request.date %>
</p>

<%= render 'form' %>