<div class="row" id="intermediate">
	<div class="padded-top">
		<div class="well span8 offset1">
			<h3>Before you can post a request, you must connect with Facebook!</h3>
			<p>We know, connecting with Facebook is really annoying; however, it does provide some serious benefits for a service like this:</p>
			<ul>
				<li>Easy indentity verification (you don't have to worry that someone is a mass murderer)</li>
				<li>Easy log in (one click and you're in!)</li>
				<li>No need for email verification!</li>
			</ul>
			<a href="/auth/facebook/" class="btn btn-primary">Connect with Facebook</a>
		</div>
	</div>

</div>	