<div class="row" id="request-show">


	<table id = "requests-table" class = "table table-striped table-bordered">
		<tr>
			<th class="span2">Title</th>
			<td><%=@request.title%></td>
		</tr>
		<tr>
			<th class="span2">Description</th>
			<td><%=@request.description%></td>
		</tr>
		<tr>
			<th class="span2">Date needed</th>
			<td><%=@request.date.strftime("%A %m/%d") %></td>
		</tr>
	</table>

</div>	
