// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align: center;
}

#request-index {
	min-height: 500px
}

#requests-table img {
	margin-left: 12px;
}

#request-show {
	#description {
		margin-top: 50px;
		min-height: 150px;
	}

	.fb-info {
		float: right;

		.fb-name {
			float: left;
			a {
				display: block;
				font-size: 18px;
				width: 120px;
				height: 20px;
				overflow: hidden;
				margin-bottom: 10px;
			}
		}

		.fb-picture {
			float: right;
			margin-left: 10px;
		}
	}

	.show-buttons {
		float: left;
	}
}

#msg {
	text-align: center;
}

.response-form {
	display: none;
	.message {
		margin-left: 50px;
		float: left;
		.btn {
			float: right;
		}
	}
	.info {
		float: left;
	}
}