// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
	font-size: 16px;	
}

.center {
	text-align: center;
}

.window {
	min-width: 620px;
	min-height: 200px;
}

.sides {
	margin-left: 20px;
	margin-right: 20px;
}

#request-index {
	min-height: 500px
}

#requests-table img {
	margin-left: 12px;
}

.input-small {
	width: 100px;
}

#request-show {

	#description {
		margin: 26px 38px 36px 38px;
		min-height: 60px;
		font-size: 14px;
	}

	.fb-name {
		a {
			display: block;
			font-size: 20px;
			width: 120px;
			height: 20px;
			overflow: hidden;
			margin-top: 6px;
		}
	}

	#fb-table {
		float: right;
		margin-right: 15px;
		padding-bottom: 10px;
	}
	
	.footer-button {
		float: left;
		margin: 20px 0px 20px 20px;
	}

	.btn-xlarge {
		padding: 10px 54px;
		font-size: 22px;
		line-height: normal;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		margin-left: 14px;
	}

	.well-top {
		margin-top: 15px;
		overflow: hidden;
	}

	.top-margin {
		margin-top: 5px;	
	}
}

#msg {
	text-align: center;
}

.response-form {
	display: none;
	
	.message {
		margin-left: 50px;
		float: left;
	}
	
	.info {
		float: left;
	}
	
	.errors {
		color: #DF0101;
	}
}