// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h3 {
	text-align: center;
}

th {
	font-size: 16px;	
}

.window {
	min-width: 620px;
	min-height: 200px;
}

#request-index {
	min-height: 500px
}

#requests-table img {
	margin-left: 12px;
}

#request-show {
	text-align: center;

	#description {
		margin: 30px 40px;
		min-height: 60px;
		font-size: 14px;
	}

	.fb-name {
		a {
			display: block;
			font-size: 20px;
			width: 120px;
			height: 20px;
			overflow: hidden;
			margin-top: 6px;
		}
	}

	#fb-table {
		float: right;
		margin-right: 15px;
		padding-bottom: 10px;
	}

	#loan-button {
		padding-top: 16px;
	}
	
	#back-button {
		float: left;
		margin: 20px 0px 20px 20px;
	}

	.btn-xlarge {
		padding: 10px 54px;
		font-size: 22px;
		line-height: normal;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		margin-left: 14px;
	}
	
	.btn-xlarge span {
		display: none;
	}

	.btn-xlarge:hover span {
		display: block;
	   	position: absolute;
		background-color: whiteSmoke;
		padding: 10px 10px;
		color: green;
		top: 120px;
		margin-left: 160px;
		font-size: 13px;
		font-style: normal;
		width: 150px;
	}

	.well-top {
		margin-top: 15px;
	}

	.top-margin {
		margin-top: 5px;	
	}
}

#msg {
	text-align: center;
}

.response-form {
	display: none;
	
	.message {
		margin-left: 50px;
		float: left;
	}
	
	.info {
		float: left;
	}
	
	.errors {
		color: #DF0101;
	}
}